::placeholder {
  color: grey;
}

.admin-portal-title {
  margin-left: 45px;
}

.user-washroom-container,
.review-reports-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 30px;
}

.users,
.washrooms,
.reviews,
.reports {
  min-width: 500px;
  flex: 1;
  padding: 0 15px;
}

.titleButtonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data-container {
  overflow-y: auto;
  max-height: 60vh;
  margin-bottom: 30px;
}

.data-title {
  color: #22223b;
  display: inline-block;
}

.add-button {
  float: right;
}

.user-modal,
.washroom-modal,
.edit-modal {
  background-color: #f2e9e4;
  border-radius: 25px;
  width: 40%;
}
.add-user-box,
.add-washroom-box,
.edit-washroom-box {
  height: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.modal-button {
  margin: 20px 0px;
}

.username-input,
.password-input,
.washroom-input {
  all: unset;
  color: #22223b;
  height: 100%;
  padding: 6px 10px;
  border: 1px solid #22223b;
  margin: 10px 0 25px 0;
  border-radius: 1em;
  display: inline;
  width: 100%;
}

.input-label {
  display: inline;
  font-weight: 500;
}

.add-form,
.edit-form {
  width: 40%;
}
