.washroom-admin-container {
    max-width: 100%;
    padding: 10px 20px;
    overflow: hidden;
    background-color: #4A4E69;
    color: white;
    border-radius: 1em;
    line-height: 25%;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.title {
    text-align: left;
    line-height: 100%;
}

.washroom-admin-container-text {
    float: left;
}

.washroom-admin-container-btn {
    float: right;
}

.map-pin {
    margin: 10px 8px 0 0;
    height: 100%;
}

.shift-right {
    margin-left: 32px;
}